<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <system.serviceModel>
    <services>
      <service name="WcfInterface.WcfServiceImpl">
        <host>
          <timeouts closeTimeout="00:00:10"/>
          <!--10s-->
          <baseAddresses>
            <add baseAddress = "net.tcp://localhost:8001/"/>
            <add baseAddress = "net.http://localhost/pipe"/>
          </baseAddresses>
        </host>
        <!--if the host provides a base address with a matching transport scheme,
you can leave out the address. In this case, the endpoint address will be the same as the
base address of the matching transport-->
        <endpoint address="net.tcp://localhost:1012/MyService" binding="netTcpBinding" contract="WcfInterface.IWcfService"  />
        <endpoint address="net.tcp://localhost:1092/MyService" bindingConfiguration="TcpConfiguration" binding="netTcpBinding" contract="WcfInterface.IWcfService"  />
      </service>
    </services>

    <bindings>
      <netTcpBinding>
        <binding name="TcpConfiguration" listenBacklog="1024" openTimeout="00:00:10" receiveTimeout="00:00:10" sendTimeout="00:00:10" closeTimeout="00:00:10" />
        <!--default binding
  WCF allows you to use a default binding that affects all endpoints of all services of the
application that uses the config file. A default binding is simply a nameless binding
section.
The default binding implicitly configures all endpoints that do not explicitly reference
a binding configuration.指定了命名绑定，默认绑定失效
  -->
      </netTcpBinding>
    </bindings>

    <protocolMapping>
      <add scheme="http" binding="wsHttpBinding"/>
    </protocolMapping>

    <behaviors>
      <serviceBehaviors>
        <behavior name="MexGet">
          <serviceMetadata httpGetEnabled="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>