@using SportsStore.WebUI.Models
@model SportsStore.WebUI.Models.Person

@{
    ViewBag.Title = "CreatePerson";
    Layout = null;
    Html.EnableClientValidation(false);
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CreatePerson</title>
    <style type="text/css">
        label {
            display: inline-block;
            width: 100px;
        }

        .dataElem {
            margin: 5px;
        }
    </style>
</head>
    <body>
        <h2>Create Person:@Html.LabelForModel()</h2>
        
        @using(Html.BeginForm())
        {

            @Html.EditorForModel()
            
            <input type="submit" value="Submit"/>
        }
    </body>
</html>
