@using SportsStore.WebUI.Models
@model SportsStore.WebUI.Models.Person

@{
    ViewBag.Title = "CreatePerson";
    Layout = null;
    Html.EnableClientValidation(false);
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CreatePerson</title>
    <style type="text/css">
        label {
            display: inline-block;
            width: 100px;
        }

        .dataElem {
            margin: 5px;
        }
    </style>
</head>
    <body>
        <h2>Create Person</h2>
        
        @using(Html.BeginForm())
        {
            <div class="dataElem">
                <label>PersonId</label>
                @Html.TextBoxFor(x=>x.PersonId)
            </div>
            <div class="dataElem">
                <label>First Name</label>
                @Html.TextBoxFor(x=>x.FirstName)
            </div>
            <div class="dataElem">
                <label>Last Name</label>
                @Html.TextBoxFor(x=>x.LastName)
            </div>
            <div class="dataElem">
                <label>Role</label>
                @Html.DropDownListFor(m=>m.Role,new SelectList(Enum.GetNames(typeof(Role))))
            </div>
            
            <input type="submit" value="Submit"/>
        }
    </body>
</html>
