@model SportsStore.WebUI.Models.Person

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Index</title>
    </head>
    <body>
        <div>
            <h2>Person</h2>
            @using (Html.BeginForm())
            {
                <div>@Html.LabelFor(m => m.PersonId)@Html.EditorFor(m => m.PersonId)</div>
                <div>@Html.LabelFor(m => m.FirstName)@Html.EditorFor(m => m.FirstName)</div>
                <div>@Html.LabelFor(m => m.LastName)@Html.EditorFor(m => m.LastName)</div>
                <div>@Html.LabelFor(m => m.Role)@Html.EditorFor(m => m.Role)</div>
                <button type="submit">Submit</button>
            }
        </div>
    </body>
</html>
