@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Css</title>
    <script type="text/javascript" src="~/Scripts/jquery-2.1.0.js"></script>
    <script type="text/javascript">

    </script>
</head>
<body>
    <div>
        <h1>New Delivery Service</h1>
        <h2>Color and Beauty to Your Door</h2>
        <h2>(With special introductory offer)</h2>
        <p>We are pleased to announce that you are starting a home delivery service for your flower need. You will deliver within a 20 mile radius of the store for free and $1/mile thereafter.</p>
    </div>
</body>
</html>