@{
    Layout = null;
}
<div class="dcell">
    <img src="~/Images/aster.png" />
    <label for="aster">Aster:</label>
    <input name="aster" value="0" required />
</div>
<div class="dcell">
    <img src="~/Images/daffodil.png" />
    <label for="daffodil">Daffodil:</label>
    <input name="daffodil" value="0" required />
</div>
<div class="dcell">
    <img src="~/Images/rose.png" />
    <label for="rose">Rose:</label>
    <input name="rose" value="0" required />
</div>

<div class="dcell">
    <img src="~/Images/peony.png" />
    <label for="peony">Peony:</label>
    <input name="peony" value="0" required />
</div>
<div class="dcell">
    <img src="~/Images/primula.png" />
    <label for="primula">Primula:</label>
    <input name="primula" value="0" required />
</div>
<div class="dcell">
    <img src="~/Images/snowdrop.png" />
    <label for="snowdrop">Snowdrop:</label>
    <input name="snowdrop" value="0" required />
</div>