@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Standard</title>
    <script type="text/javascript" src="~/Scripts/jquery-2.1.0.js"></script>
    <script type="text/javascript">
        $(document).ready(
            function () {
                console.log("Hello world");
            }
        );
    </script>
</head>
<body>
    <div>
        Hello world.
    </div>
</body>
</html>
