<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Apache.NMS" version="1.7.1" targetFramework="net45" />
  <package id="Apache.NMS.ActiveMQ" version="1.7.1" targetFramework="net45" />
  <package id="EO.WebBrowser" version="16.1.17.0" targetFramework="net45" />
  <package id="NLog" version="4.3.5" targetFramework="net45" />
  <package id="NLog.Config" version="4.3.5" targetFramework="net45" />
  <package id="NLog.Schema" version="4.3.4" targetFramework="net45" />
</packages>